.login--header {
    color: brown;
    font-size: 1.4rem;
    padding-left: 50px;
}

i.login--icon {
    padding-left: 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.welcome {
    color: brown;
    padding-left: 14px;
}

.forgot--password {
    text-align: right;
    padding-right: 10px;
}

.forgot--password a {
    color: brown;
}

.login--btn {
    background: brown;
    color: #fff;
    margin: 0 20px;
}


.item-input-wrap input:focus {
    border-bottom: 2px solid brown;
}

.login--register {
    color: brown;
}
